<nav role="navigation">
    <div class="collapse navbar-collapse navbar-sidebar-collapse">
        <ul class="list-group">
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-users" target="_self">
                    <i class="glyphicon glyphicon-user nav-link"></i>
                    Users
                </a>
                <ul id="nav-users" class="list-group collapse in">
                    <li class="list-group-item">
                        <a href="users/search">
                            <i class="glyphicon glyphicon-search nav-link"></i>
                            Search/View/Edit
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="users/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-newsletters" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    Products
                </a>
                <ul id="nav-newsletters" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="products/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="products/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
