<nav role="navigation">
    <div class="collapse navbar-collapse navbar-sidebar-collapse">
        <ul class="list-group">
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-users" target="_self">
                    <i class="glyphicon glyphicon-user nav-link"></i>
                    Users
                </a>
                <ul id="nav-users" class="list-group collapse in">
                    <li class="list-group-item">
                        <a href="users/search">
                            <i class="glyphicon glyphicon-search nav-link"></i>
                            Search/View/Edit
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="users/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-newsletters" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    Newsletters
                </a>
                <ul id="nav-newsletters" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="documents/newsletters/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="documents/newsletters/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-memos" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    Memos
                </a>
                <ul id="nav-memos" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="documents/memos/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="documents/memos/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-faqs" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    FAQs
                </a>
                <ul id="nav-faqs" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="faqs/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="faqs/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-contact-sheet" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    Contact Sheet
                </a>
                <ul id="nav-contact-sheet" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="contactsheets/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="contactsheets/edit/0">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a data-toggle="collapse" data-target="#nav-manuals" target="_self">
                    <i class="glyphicon glyphicon-question-sign nav-link"></i>
                    Manuals
                </a>
                <ul id="nav-manuals" class="list-group collapse">
                    <li class="list-group-item">
                        <a href="documents/manuals/list">
                            <i class="glyphicon glyphicon-list nav-link"></i>
                            List
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="documents/manuals/new">
                            <i class="glyphicon glyphicon-plus nav-link"></i>
                            Add
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="remittance/calendar">
                    <i class="glyphicons glyphicon-calendar nav-link"></i>
                    Remittance Calendar
                </a>
            </li>
        </ul>
    </div>
</nav>
