<html>
<head>
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{assets}}/css/bootstrap.min.css">
</head>
<body>

	{{> navbar }}

	<div class="container">
		{{> body }}
	</div>

	{{> footer }}
</body>
</html>